<div class="curriculum">
    <section class="container-fluid">
        <div class="row">
            <!-- Columna de la imagen -->
            <div class="col-12 col-md-4"> <!-- 4 columnas en pantallas medianas y más grandes -->
                <img class="curriculum-image border" src="/assets/ImagenPersonal.jpg" alt="Imagen no encontrada"
                    style="width: 100%; height: auto;">
            </div>

            <!-- Columna de texto -->
            <div class="col-12 col-md-8"> <!-- 8 columnas en pantallas medianas y más grandes -->
                <h1>Alex Fernández Romero</h1>
                <h2>FULLSTACK DEVELOPER</h2>
                <h3>DATOS DE CONTACTO</h3>
                <p><strong>Teléfono: </strong>640373471</p>
                <p><strong>Nacimiento: </strong>30/10/2000</p>
                <p><strong>Correo: </strong>alexfernandezromero1&#64;gmail.com</p>
                <p>
                    <strong>LinkedIn: </strong>
                    <a href="https://www.linkedin.com/in/alex-fernández-romero-4b9b6a205/">https://www.linkedin.com/in/alex-fernández-romero-4b9b6a205/</a>
                </p>
                <p>
                    <strong>Dirección: </strong>
                    <a href="https://maps.app.goo.gl/38nyiUYV42bLZPfEA">Calle Pomera n4 Llinars del Vallès</a>
                </p>
            </div>
        </div>
    </section>
    <section>
        <h3>EXPERIENCIA</h3>
        <h4><strong>Analista | </strong>Boldtic 2024</h4>
        <ul>
            <li>Desarrollo de microservicios con API y Azure Service Bus/Functions para procesar e imprimir tickets de
                compra de productos</li>
            <li>Usar Vue.js para recrear e imprimir tickets de forma manual</li>
            <li>Implementación de test unitarios para comprobar el funcionamiento de los servicios</li>
        </ul>
        <h4><strong>Técnico informatico | </strong>Optimissa 2022 - 2023</h4>
        <ul>
            <li>Planificación y realización de evolutivos.</li>
            <li>Optimización de código en .NET Core 6.0 logrando ampliar el volumen de datos a procesar.</li>
            <li>Depuración de código y SP en SQL Server para resolver incidencias reportadas en Jiras.</li>
            <li>Uso de API para añadir funcionalidades al servicio</li>
        </ul>
        <h4><strong>Desarrollador de aplicaciones | </strong>Hiberus 2020- 2022</h4>
        <ul>
            <li>Migración de código de VB a .NET Framework.</li>
            <li>Creación de API para la generación de reportes.</li>
            <li>Uso de librerías Bootstrap en Angular para el diseño de una pagina web.</li>
        </ul>
    </section>
    <section>
        <h3>CERTIFICADOS</h3>
        <div>
            <a href="https://www.credly.com/badges/ba079d00-78be-4e0d-961e-38e07ab0b000/public_url">Azure Fundamentals
                AZ-900
            </a>
        </div>
        <div>
            <a href="https://drive.google.com/file/d/1qOjEbgtolmHLYuTiJ6RCNrbTwaeyX4mH/view?pli=1">Developing ASP.NET
                MVC
            </a>
        </div>
        <div>
            <a
                href="https://api.badgr.io/public/assertions/B9IwJE0XSvC2xrYMU-LP5g?identity__email=alexfernandezromero1%40gmail.com">Bootcamp
                C#.NET & SQL
            </a>
        </div>
    </section>
    <section>
        <h3>Habilidades técnicas</h3>
        <ul>
            <li><strong>Lenguajes: </strong>C#/SQL/Java/Javascript/html/css</li>
            <li><strong>Bases de datos: </strong>SQL Server/CosmosDB</li>
            <li><strong>Arquitecturas: </strong>ApiRest/MVC/TDD</li>
            <li><strong>Herramientas: </strong>GIT/Azure</li>
            <li><strong>Frameworks: </strong>Vue.js/.NET/.NET Core/.NET Framework/EntityFramework/Bootstrap/Blazor/Razor
            </li>
        </ul>
    </section>
    <section>
        <h3>IDIOMAS</h3>
        <h4>Castellano/Catalán</h4>
        <p>Nativo</p>
        <h4>Ingles</h4>
        <p>A2</p>
    </section>
    <section>
        <h3>FORMACION COMPLEMENTARIA</h3>
        <h4>Bootcamp .Net(380H).2024</h4>
        <p>Fundación Esplai</p>
        <ul>
            <li>Programación en C#</li>
            <li>Base de datos SQL</li>
            <li>Programación orientada a objetos</li>
            <li>ASP.NET</li>
            <li>Desarrollo Front End</li>
        </ul>
    </section>
</div>