<main>
  <nav class="navbar">
    <div class="navbar-title">
      <a [routerLink]="['']">Otaku</a>
    </div>
    <div class="right-section row">
      <div class="col">
        <a [routerLink]="['Test']">Test</a>
      </div>  
      <div class="dropdown col navbar-menu">
        <button class="btn dropdown-toggle navbar-menu-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Juegos
        </button>
        <!-- Opciones del menú -->
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" [routerLink]="['Minesweeper']">Buscaminas</a></li>
          <li><a class="dropdown-item" href="#">Opción 2</a></li>
          <li><a class="dropdown-item" href="#">Opción 3</a></li>
        </ul>
      </div>
      <div class="col">
        <a [routerLink]="['About']">Sobre mi</a>
      </div>
    </div>
  </nav>
  <section class="content">
      <router-outlet></router-outlet>
  </section>
</main>
