<div class="contenedor">
  <app-timer></app-timer>
  <button class="btn" type="button" (click)="(startGame())">Start game</button>
</div>
<div class="contenedor">
  <div class="cuadro">
    <div class="grid-container" >
      <div *ngFor="let row of minesweeperService.board;">
        <div class="grid-item" *ngFor="let cellMine of row">
          <button [disabled]="cellMine.isDisabled" *ngIf="cellMine.status === Status.Blocked" (click)="click(cellMine)" (contextmenu)="onRightClick($event,cellMine)" type="button" ></button>
          <button [disabled]="cellMine.isDisabled" *ngIf="cellMine.status === Status.Flag" (contextmenu)="onRightClick($event,cellMine)" type="button">F</button>  
          <button [disabled]="cellMine.isDisabled" *ngIf="cellMine.status === Status.Unloqued && cellMine.minesAround === 0" type="button" class="btn active unloqued-button"></button>
          <button [disabled]="cellMine.isDisabled" *ngIf="cellMine.status === Status.Unloqued && cellMine.minesAround === -1" type="button" class="btn active unloqued-button">💣</button>
          <button [disabled]="cellMine.isDisabled" *ngIf="cellMine.status === Status.Unloqued && cellMine.minesAround > 0" (click)="showAround(cellMine)"  type="button" class="btn active unloqued-button">{{cellMine.minesAround}}</button>
        </div>
      </div>
    </div>    
  </div>
</div>